*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: lightgrey;
  font-family: Arial, Helvetica, sans-serif;
}
.Payment{
  background-color: #fff;
  width: 648px;
  padding: 25px;
  margin: 1em auto 0;
  box-shadow: 0px 0px 20px rgba(0,0,0,0.5);
  height: 923px;
}

h4{
  padding-bottom: 17px;
  color: orange;
  
}
.information{
  margin-bottom: 8px;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  padding: 5px 0;
 height:90px;
  
}
.input-box{
  width: 100%;
  margin-right: 12px;
  position: relative;
  padding-bottom: 22px;
}

.name{
  padding: 14px 11px 14px 60px;
  width: 100%;
  background-color: #fcfcfc;
  border: 1px solid #00000033;
  outline: none;
  letter-spacing: 1px;
  transition: 0.3s;
  border-radius: 3px;
  color: #333;
}

.input-box .icon{
  width: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  color: grey;
 height:47px;
  border-radius: 2px 0 0 2px;
  transition: 0.3s;
  font-size: 20px;


}

.dob{
  width: 30%;
  padding: 14px;
  text-align: center;
  background-color: #fcfcfc;
  transition: 0.3s;
 
  border: 1px solid #c0bfbf;
  border-radius: 3px;
}
.radio{
  display: none;
}
.input-box label{
  width: 50%;
  padding: 13px;
  background-color: #fcfcfc;
  display: inline-block;
  float: left;
  text-align: center;
  border: 1px solid #c0bfbf;
}


.radio:checked + label{
  background-color: orange;
  color: #fff;
  
}
.input-box select{

  width: 50%;
  padding: 12px;
  background-color: #fcfcfc;
  float: left;
  text-align: center;
  font-size: 16px;
  outline: none;
 cursor: pointer;
}
.var {
  border-left: 1px solid #c0bfbf;
  height: 31px;
  position: absolute;
  left: 45px;
  z-index: 1;
  top: 9px;
    }


            
                                                        
@media only screen and (max-width: 425px){
  .Payment{
    width: 425px;
    height:100vh;
    margin-top: 0px;
  }
.input-box .icon{
  width: 50px;

}
.information{
  display: flex;
  flex-direction: column;
}
.input-box select{
  margin-top: 12px;


}

}



@media only screen and (max-width: 375px){
  .Payment{
    width:375px;
    height:100vh;
    margin-top: 0px;
  }
.input-box .icon{
  width: 50px;

}
.information{
  display: flex;
  flex-direction: column;
}
.input-box select{
  margin-top: 12px;


}

}


@media only screen and (max-width: 325px)  {
 .Payment{
 width:335px;
 height:100vh;
 margin-top: 0px;
 margin-bottom: 0px;
 }

.input-box .icon {
  width:20px;
  margin-left: 20px;

}
.information{
  display: flex;
  flex-direction: column;
}
.input-box select{
  margin-top: 12px;

}

}
@media only screen and (max-width: 320px)  {
  .Payment{
  width:320px;
  height:100vh;
  margin-top: 0px;
  margin-bottom: 0px;
  }
 
 .input-box .icon {
   width:20px;
   margin-left: 20px;
 
 }
 .information{
   display: flex;
   flex-direction: column;
   margin-bottom: 0px;
 }
 .input-box select{
   margin-top: 12px;
 
 }
 .input-box {
  line-height: 10px;
 }
 .input-box .label{
  line-height:45px;
 
 }
 }
